/.github export-ignore
/documentary export-ignore
/.gitattributes export-ignore
/.coveralls.yml export-ignore
/.gitignore export-ignore
/.travis.yml export-ignore
/test export-ignore
/ChangeLog.md export-ignore
/CONTRIBUTING.md export-ignore
/phpunit.xml export-ignore
/ReadMe.md export-ignore
/t.regx.png export-ignore
